
@font-face {
  font-family: 'coopbl';
  src: url('../fonte/COOPBL.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gotham';
  src: url('../fonte/Gotham-Book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

p{
  font-family: 'gotham';
}

h1{
  font-family: 'coopbl', serif;
}
.menu{
  position: relative;
  display: table;
  background: url("../assets/img/navbar.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tituloUm{
  color: #F27823;
  font-size: 3rem;  
}

.tituloDois{
  color: #fff;
  font-size: 3rem;  
}

.tituloTres{
  color: #5F4387;
  font-size: 3rem;
  
}
.tituloCadastro{
  color: #5F4387;
}
.fundoTratamentos {
  position: relative;
  display: table;
  background: url("../assets/img/UOMAN_Site\ Assinaturas_Fundo\ Novos\ Tratamentos.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fundoCaracteristicas {
  position: relative;
  display: table;
  background: url("../assets/img/caracteriscas.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


.fundoPreco {
  position: relative;
  display: table;
  background: url("../assets/img/UOMAN_Site\ Assinaturas_Fundo\ Preço.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


.fundoCadastro {
  position: relative;
  display: table;
  background: url("../assets/img/cadastro.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-header{
  border-color: #71C9C4;
  border-radius: 50px;
}

.card-body{
  background-color:#71C9C4;
  
}
.linkRodape{
  color: #fff;
}
.rodape{
  padding: 2.5rem;
}

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #C24F9C;
  color: #fff;
}


